In [1]:
#packages
import pandas as pd
import h2o
from h2o.automl import H2OAutoML
from sklearn.model_selection import train_test_split

In [16]:
%store -r data_frame_credito
data_frame = data_frame_credito.copy()

In [17]:
# getting ready x and y variables
x = data_frame.drop(['ID','SalePrice'],axis=1)
y = data_frame.SalePrice

# train test split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 42)

In [18]:
x_train.head

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
8665,1,1,0,1,238500.0,4,1,1,5,-11384,-1965,1,1,0,4,3.0
43223,0,0,0,1,112500.0,4,1,1,1,-10853,-287,0,0,1,3,3.0
15733,1,0,1,0,30150.0,1,3,1,1,-23770,365243,0,0,0,18,2.0
30840,0,1,1,0,256500.0,0,4,1,1,-13821,-1071,0,0,1,3,2.0
13830,1,1,0,0,225000.0,4,4,1,1,-9479,-1143,0,0,0,8,2.0

In [9]:
#starting h2o
h2o.init(max_mem_size= '10G')

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_345"; OpenJDK Runtime Environment (Zulu 8.64.0.19-CA-macos-aarch64) (build 1.8.0_345-b01); OpenJDK 64-Bit Server VM (Zulu 8.64.0.19-CA-macos-aarch64) (build 25.345-b01, mixed mode)
  Starting server from /Users/hectorcozar/Documents/GitHub/caixabank/venv/lib/python3.9/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/yj/nrb4536x26s8lfxkz_6kzf100000gn/T/tmpow0slsg7
  JVM stdout: /var/folders/yj/nrb4536x26s8lfxkz_6kzf100000gn/T/tmpow0slsg7/h2o_hectorcozar_started_from_python.out
  JVM stderr: /var/folders/yj/nrb4536x26s8lfxkz_6kzf100000gn/T/tmpow0slsg7/h2o_hectorcozar_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is too old (2 years, 4 months and 12 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.4
H2O_cluster_version_age:    2 years, 4 months and 12 days !!!
H2O_cluster_name:           H2O_from_python_hectorcozar_d09yba
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    8.89 Gb
H2O_cluster_total_cores:    10
H2O_cluster_allowed_cores:  10
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.12 final
--------------------------  ---------------------------------------------------------

In [10]:
# # loading data as h2o object
# df = h2o.import_file(path = '../data/train.csv')
# df_sample = h2o.import_file(path = '../data/test.csv')

df = h2o.H2OFrame(x_train)
df_test = h2o.H2OFrame(x_test)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [11]:
#describe dataset
df.describe(chunk_summary=True)

Rows:24426
Cols:16

Chunk compression summary:

,chunk_type,chunk_name,count,count_percentage,size,size_percentage
0,CBS,Binary,5,31.25,15.3 KB,3.582076
1,CXI,Sparse Integers,1,6.25,4.4 KB,1.032427
2,C1N,1-Byte Integers (w/o NAs),7,43.75,167.4 KB,39.319820
3,C2,2-Byte Integers,1,6.25,47.8 KB,11.218639
4,C4,4-Byte Integers,1,6.25,95.5 KB,22.421684
5,C4S,4-Byte Fractions,1,6.25,95.5 KB,22.425356

Frame distribution summary:

,,size,number_of_rows,number_of_chunks_per_column,number_of_chunks
0,127.0.0.1:54321,425.8 KB,24426.0,1.0,16.0
1,mean,425.8 KB,24426.0,1.0,16.0
2,min,425.8 KB,24426.0,1.0,16.0
3,max,425.8 KB,24426.0,1.0,16.0
4,stddev,0 B,0.0,0.0,0.0
5,total,425.8 KB,24426.0,1.0,16.0

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
type,int,int,int,int,real,int,int,int,int,int,int,int,int,int,int,int
mins,0.0,0.0,0.0,0.0,27000.0,0.0,0.0,0.0,0.0,-25152.0,-15713.0,0.0,0.0,0.0,0.0,1.0
mean,0.3286661753868828,0.37779415377057235,0.6729714238925735,0.4318758699746192,187213.64756816547,2.3951936461148073,3.0889216408744766,1.3688692376975449,1.2784737574715423,-15983.868214198068,59794.602186194745,0.2246786211414067,0.2955866699418652,0.09060018013592074,10.911078359125469,2.199991812003607
maxs,1.0,1.0,1.0,19.0,1575000.0,4.0,4.0,4.0,5.0,-7705.0,365243.0,1.0,1.0,1.0,18.0,20.0
sigma,0.4697379632349932,0.48484570239216707,0.4691373967112342,0.7428166111600225,102279.5349979874,1.7330338055854833,1.3447172836772383,0.9531177771758774,0.9439094534771346,4202.766901200345,138127.49604802876,0.41737904871235587,0.4563153681059759,0.28704557260417096,5.96157900605933,0.9129577832273922
zeros,16398,15198,7988,16874,0,5676,22,1940,108,0,0,18938,17206,22213,816,0
missing,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,1.0,1.0,0.0,1.0,238500.0,4.0,1.0,1.0,5.0,-11384.0,-1965.0,1.0,1.0,0.0,4.0,3.0
1,0.0,0.0,0.0,1.0,112500.0,4.0,1.0,1.0,1.0,-10853.0,-287.0,0.0,0.0,1.0,3.0,3.0
2,1.0,0.0,1.0,0.0,30150.0,1.0,3.0,1.0,1.0,-23770.0,365243.0,0.0,0.0,0.0,18.0,2.0
3,0.0,1.0,1.0,0.0,256500.0,0.0,4.0,1.0,1.0,-13821.0,-1071.0,0.0,0.0,1.0,3.0,2.0
4,1.0,1.0,0.0,0.0,225000.0,4.0,4.0,1.0,1.0,-9479.0,-1143.0,0.0,0.0,0.0,8.0,2.0
5,0.0,1.0,1.0,0.0,463500.0,4.0,1.0,1.0,1.0,-20848.0,-4090.0,1.0,1.0,0.0,10.0,2.0
6,0.0,0.0,1.0,0.0,189000.0,1.0,4.0,1.0,1.0,-23086.0,365243.0,0.0,0.0,0.0,18.0,2.0
7,0.0,0.0,1.0,0.0,202500.0,4.0,4.0,1.0,1.0,-15929.0,-2879.0,0.0,1.0,0.0,8.0,2.0
8,0.0,1.0,1.0,1.0,135000.0,0.0,4.0,1.0,1.0,-11159.0,-856.0,0.0,0.0,0.0,14.0,3.0
9,0.0,0.0,1.0,0.0,121500.0,1.0,4.0,1.0,1.0,-20911.0,365243.0,0.0,0.0,0.0,18.0,2.0

In [12]:
# split data in train and test
train, test = df.split_frame(ratios=[0.8], seed = 1)

# train = df

In [14]:
#automl
aml = H2OAutoML(#max_models = 10000,
                max_runtime_secs = 1800,  #if not set it's 1 hour
                balance_classes = True,
		seed = 1,
                sort_metric = "AUC")

In [15]:
# start training
# my leader board frame could be ROC AUC, Precision, Recall, F1, Accuracy, Gains/Lift. 
# Otherwise the best cross validation model would be chose
aml.train(training_frame = train, y = 'TARGET')

H2OValueError: Column TARGET does not exist in the training frame

In [ ]:
#evaluation
lb = aml.leaderboard
lb.head(rows=lb.nrows)

In [ ]:
# best model, getting the name and the statistics
best_model = aml.leader
best_model_name = best_model.model_id
print(best_model)

In [30]:
#saving the model
model_path = h2o.save_model(model = best_model, path = '../models', force = True)

In [34]:
#loading the model
model = h2o.load_model(path = '../models/' + best_model_name)

In [ ]:
#predict and getting data out from h2o
predictions = h2o.as_list(model.predict(df_sample))

In [ ]:
#finishing h2o
h2o.shutdown()

In [39]:
#merging predictions with the full data set
submission = pd.merge(test_df['Id'].astype(int),
                          predictions,
                          left_index = True,
                          right_index = True)
submission.rename(columns = {'predict': 'SalePrice'}, inplace = True)

In [40]:
# save to csv
submission.to_csv('../csv_data/submission_' + best_model_name + '.csv',
                  header = True, index = False)

# 00. Score of 0.12868
# 01. Change from 25 max models to 1000. Score of 0.12792
# 02. Sorting leaderboard by rmse as the main metric on h2o training. Score of 0.12792 made the same.